insitorium.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "insitorium",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8bab0567e0f51bac",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "owntracks/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "bedd092b943f9c3c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 380,
        "wires": [
            [
                "98f43ba5102ac34d",
                "9b4fc5bda018172f"
            ]
        ]
    },
    {
        "id": "98f43ba5102ac34d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "9b4fc5bda018172f",
        "type": "postgresql",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "query": "INSERT INTO public.user_position (dat,lati,longi,height) VALUES ( \n{{{msg.payload.tst}}},\n{{{msg.payload.lat}}},\n{{{msg.payload.lon}}},\n{{{msg.payload.alt}}});",
        "postgreSQLConfig": "3e700529e288e5e9",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 410,
        "y": 420,
        "wires": [
            [
                "98f43ba5102ac34d"
            ]
        ]
    },
    {
        "id": "bedd092b943f9c3c",
        "type": "mqtt-broker",
        "name": "crtkMQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3e700529e288e5e9",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "localhost",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "insitorium",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "geobeat",
        "userFieldType": "str",
        "password": "password",
        "passwordFieldType": "str"
    }
]
